/*

InternalHeader.module.css
------------------------
Styling rules for the interal page header component

*/

/* 
    Page header
*/
.Container {
    height: 6rem;
    width: 100vw;
    margin: 0;
    padding: 0 10vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Logo {
    width: 2rem;
    height: auto;
    margin: 0;
}
@media screen and (max-width: 860px) {
    .Container {
        padding: 0 5vw;
    }
    .Logo {
        height: 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    .Logo {
        height: 1rem;
    }
}

/* 
    Single-page site navigation
*/
.Nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.NavButton {
    background-color: transparent;
    border: none;
    margin: 0 1rem;
    font-family: "Lato";
    cursor: pointer;
    padding: 0.5rem 0;
    transition: 0.3s ease;
    outline-offset: 3px;
    outline-color: #252525;
}
.NavButton:hover {
    transform: translateY(-2px);
}
@media screen and (max-width: 860px) {
    .NavButton {
        margin: 0 0.75rem;
    }
}
@media screen and (max-width: 600px) {
    .NavButton {
        font-size: 0.75em;
        margin: 0 0.35rem;
        padding: 0.25rem 0;
    }
}
