/*

Header.module.css
------------------------
Styling rules for the main single-page site header

*/

/* 
    Header Base Formatting 
*/
.Container {
    width: 100%;
    padding: 0 10vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
} .Info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline-color: #252525;
    outline-offset: 10px;
} .Logo {
    width: 2rem;
    height: auto;
    margin: 0;
} .HeaderTitle {
    font-family: "IBM Plex Sans";
    font-size: 1.5em;
    margin-left: 2rem;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} @media screen and (max-width: 860px) {
    .Container {
        padding: 0 5vw;
    } .Logo {
        height: 1.5rem;
    } .HeaderTitle {
        font-size: 1.25em;
        margin-left: 1.5rem;
    }
} @media screen and (max-width: 600px) {
    .Logo {
        height: 1rem;;
    } .HeaderTitle {
        font-size: 1.05em;
        margin-left: .5rem;
    }
}

/* 
    Single-page site navigation
*/
.Nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
} .NavButton {
    background-color: transparent;
    border: none;
    margin: 0 1rem;
    font-family: "Lato";
    cursor: pointer;
    padding: .5rem 0;
    transition: .3s ease;
    outline-offset: 3px;
    outline-color: #252525;
} .NavButton:hover {
    transform: translateY(-2px);
} @media screen and (max-width: 860px) {
    .NavButton {
        margin: 0 .75rem;
    }
} @media screen and (max-width: 600px) {
    .NavButton {
        font-size: .75em;
        margin: 0 .35rem;
        padding: .25rem 0;
    }
}

/* 
    Keyframes
*/
@keyframes fade-in {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}