/* 
    Index Section 
*/
.Wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100vw;
}
.IntroTitle {
    font-size: 4.5rem;
    font-family: "IBM Plex Sans";
    color: var(--black);
    margin-top: 4rem;
}
.IntroText {
    font-family: "Lato";
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: var(--black);
}
.ArrowContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 3rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.DownArrowButton {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.DownArrow {
    height: 2rem;
    width: auto;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}
.DownArrow:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 860px) {
    .Wave {
        display: none;
    }
    .IntroMain {
        padding-top: 9rem;
    }
    .IntroTitle {
        font-size: 3.5rem;
    }
    .IntroText {
        margin-top: 1.5rem;
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 600px) {
    .IntroMain {
        padding-top: 11rem;
    }
    .IntroTitle {
        font-size: 3rem;
    }
    .IntroText {
        margin-top: 1rem;
        font-size: 1rem;
        margin-right: 2rem;
    }
}
