/*

Footer.module.css
------------------------
Styling rules for the main site footer component

*/

/* 
    Footer container and sectioning
*/
.Container {
    width: 100%;
    background-color: transparent;
    padding: 2rem 5vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.FooterLeft {
    width: 38%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.FooterCenter {
    width: 24%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.FooterRight {
    width: 38%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 860px) {
    .Container {
        height: 2.5rem;
    }
}
@media screen and (max-width: 600px) {
    .Container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.FooterTitle {
    font-family: "IBM Plex Sans";
    font-size: 1.5em;
}
.FooterEmail {
    font-family: "Lato";
    margin-top: 0.5rem;
}
.FooterLogo {
    height: 3rem;
}
@media screen and (max-width: 860px) {
    .FooterLogo {
        height: 2.5rem;
    }
}
@media screen and (max-width: 600px) {
    .FooterTitle {
        font-size: 0.8em;
    }
    .FooterEmail {
        margin-top: 0.25rem;
        font-size: 0.65em;
    }
    .FooterLogo {
        height: 1.75rem;
    }
}

/* 
    Social media linki
*/
.SocialIcon {
    height: 1.5rem;
    margin: 0 0.75rem;
    width: auto;
}
.FooterLink {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.FooterLink:hover {
    transform: translateY(-2px);
}
@media screen and (max-width: 600px) {
    .SocialIcon {
        height: 1.2rem;
        margin: 0 0.35rem;
    }
}

/* 
    Keyframes
*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
