/*

layout.module.css
------------------------
Main layout component styling rules

*/

/* 
    Layout Base Formatting
 */
.Layout {
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--green);
    position: relative;
}

.Main {
    width: var(--content-width);
    flex: 1;
    padding-top: 7rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
