/*

layout.module.css
------------------------
Main layout component styling rules

*/

/* 
    Layout Base Formatting
 */
.Layout {
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--green);
    position: relative;
}
